.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    color: rgb(71, 208, 30);
  }

  .header .title {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(71,208,30,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  .header img {
    width: 50px;
    border-radius: 10%;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: rgba(16, 113, 14, 1);
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  select {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    text-align: center;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 40px;
    justify-items: center;
  }
  
  .cards-container app-cards {
    width: 50%;
    height: 200px;
  }
  app-cards{
    margin-bottom: 70px;
  }
  
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr;
    }
  }
 
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
    color: #333;
    border-top: 1px solid #ddd;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
  }
  