<div class="header-terminal">
    <div class="header-content">
        <button class="buttonh"> Regresar</button>
        <div class="title">ChiapaTour</div>
        <button class="button">Inicio</button>
    </div>
</div>
    <div>
    <section>
        <label for="destinations">Escoja la ciudad a la que desea viajar</label>
        <select id="destinations" name="A donde vamos hoy?">
          <option value="ciudad1">San Cristobal</option>
          <option value="ciudad2">Comitan de Dominguez</option>
          <option value="ciudad3">Tonala</option>
          <option value="ciudad4">Palenque</option>
          <option value="ciudad5">Chiapa De Corzo</option>
          <option value="ciudad6">Chalakmul</option>
        </select>
      </section>
      <div class="button2">
        <button>Boletos</button>
        <button>Paradas</button>
        <button>Dirección</button>
      </div>
  </div>
  <div>
    <h2>
      A continuación le mostramos las diferentes opsciones que tenemos:
    </h2>
  </div>
  
  <div class="cards-terminales">

    <app-cards
      imageUrl="omnibus.jpg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Unidades">
    </app-cards>
    <app-cards
     imageUrl="terminal.jpg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Terminal">
    </app-cards>
    <app-cards
      imageUrl="ubi.png"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Ubicación">
    </app-cards>

  </div>

  <div>
      <footer class="footer">
        <p>&copy; 2024 ChiapaTour. Todos los derechos reservados.</p>
        <p>tel. 9671493816</p>
        <img class="fb3" src="Facebook.jpg" alt="">
        <img class="ws3" src="Whatsapp.png" alt="">
        <img class="insta3" src="insta.jpeg" alt="">
      </footer>
  </div>