.header-terminal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  color: rgb(71, 208, 30);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-terminal .header-content {
  display: flex;
  width: 100%; 
  justify-content: space-between; 
  align-items: center; 
}

.header-terminal .title {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(71, 208, 30, 1) 0%, rgba(255, 255, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 3s;
}

.button:hover {
  background: linear-gradient(90deg, rgba(71, 208, 30, 1) 0%, rgba(255, 255, 255, 1) 100%);
  transform: scale(1.05);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: rgba(16, 113, 14, 1);
  background-color: transparent;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h2{
  text-align: center;
  margin: 20px;
  color: black;
}

.cards-terminales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.cards-terminales app-cards {
  width: 50%;
  height: 200px;
}

app-cards {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .cards-terminales {
      grid-template-columns: 1fr;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 40px;
  font-size: 1rem;
  color: #333;
  border-top: 1px solid #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  text-align: center;
}

body {
  background-color: white; /* O el color que desees */
}

