<div class="header-terminal">
    <div class="header-content">
        <div class="title">ChiapaTour</div>
        <button class="button">Inicio</button>
    </div>
</div>

<h1>ingrese el lugar al que desea viajar </h1>

<div class="select-container">
  <div class="card-left">
    <div class="card-content">
      <div class="content">
        Busca el lugar al que deseas viajar o mira las recomendaciones en la parte de abajo. Haz clic sobre la imagen para más detalles del transporte.
      </div>
    </div>
  </div>
  
  <section>
    <select id="destinations" name="A donde vamos hoy?">
      <option value="ciudad1">San Cristobal</option>
      <option value="ciudad2">Comitan de Dominguez</option>
      <option value="ciudad3">Tonala</option>
      <option value="ciudad4">Palenque</option>
      <option value="ciudad5">Chiapa De Corzo</option>
      <option value="ciudad6">Chalakmul</option>
    </select>
  </section>

  <div class="card-right">
    <div class="card-content">
      <div class="content">
        "No esperes a tenerlo todo resuelto para viajar, ¡empieza y las cosas se irán acomodando!"        </div>
    </div>
  </div>
</div>
  <div>
    <h2>
      A continuación le mostramos las diferentes terminales con destino a San Cristobal de las Casas:
    </h2>
  </div>
  
  <div class="cards-terminales">

    <app-cards
      imageUrl="gruposc.jpeg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText=" Grupo San Cristobal">
    </app-cards>
    <app-cards
     imageUrl="comitan.jpeg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Grupo Colonial">
    </app-cards>
    <app-cards
      imageUrl="omnibus.jpg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Omnibus">
    </app-cards>
    <app-cards
      imageUrl="corzo.jpeg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Coletos">
    </app-cards>
    <app-cards
      imageUrl="3estrellas.jpeg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Tres Estrellas">
    </app-cards>
    <app-cards
      imageUrl="avisa.jpeg"
      altText="Imagen de ejemplo"
      link="https://example.com"
      linkText="Avisa">
    </app-cards>
  </div>

  <div>
      <footer class="footer">
        <p>&copy; 2024 ChiapaTour. Todos los derechos reservados.</p>
        <img class="fb2" src="Facebook.jpg" alt="">
        <img class="ws2" src="Whatsapp.png" alt="">
        <img class="insta2" src="insta.jpeg" alt="">
      </footer>
  </div>